.bloop/
.metals/
project/**/metals.sbt
**/target/

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp

*.class
*.log

# Project-specific
docker-compose.yml
Dockerfile
pipeline/
**/*.md
docs/

